@use './variaveis' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonte-principal;
  background-color: $fundo;
  color: $cinza;
  padding: 2vw;
  font-size: 1rem;
}