@use './variaveis' as *;

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $amarelo;
  padding: $espacamento-padrao;
  text-align: center;

  &__titulo {
    font-size: 2rem;
  }

  &__nav {
    .menu {
      list-style: none;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;

      &__item {}

      &__link {
        text-decoration: none;
        color: $cinza;
        font-weight: bold;
      }
    }
  }
}

.banner {
  text-align: center;
  padding: 8vh 2rem;
  background-color: #ffe680;

  &__imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  &__titulo {}

  &__descricao {}
}

section {
  margin: 4rem 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}